{% extends 'base.html' %}

{% block content %}
<br>
<div class="container mt-3">
     <h2>Редактирование вакансии</h2>
    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
      <label for="title">Должность:</label>
      <input type="text" class="form-control" id="title" value='{{ vacancy.title }}' name="title">
        </div>

        <div class="mb-3">
      <label for="salary">Зарплата:</label>
      <input type="text" class="form-control" id="salary" value='{{ vacancy.salary }}' name="salary">
        </div>

        <div class="mb-3">
      <label for="description">Описание:</label>
            <textarea name="description" cols="20" id="description" class="form-control" rows="5" value='{{ vacancy.description }}'></textarea>
        </div>

        <div class="mb-3 mt-3">
            <label for="email" class="form-label">Почта</label>
             <input type="email" class="form-control" name="email" id="email" value='{{ vacancy.email }}'>
        </div>

         <div class="mb-3">
      <label for="contacts">Контакты:</label>
      <input type="text" class="form-control" id="contacts" value='{{ vacancy.contacts }}' name="contacts">
        </div>

         <button type="button" class="btn btn-primary">Сохранить изменения</button>
    </form>

{% endblock %}