{% extends 'base.html' %}

{% block content %}

  <h1>{{ resume.title }}</h1>
    {% if resume.profile_photo %}
    <div>
        <img src="{{ resume.profile_photo.url }}" height="250px">
    </div>
    {% endif %}
  <div>{{ resume.education_degree }}</div>
  <div>{{ resume.age }}</div>
  <div>{{ resume.experience_years }}</div>
  <div>{{ resume.previous_employment }}</div>
  <hr/>
  <div>{{ resume.created_at }}</div>

 <a href="{% url 'resume-edit' resume.id %}">Изменить</a><br><br>

 <a href="{% url 'resume-edit-django' resume.id %}">Изменить через джанго формы</a>
{% endblock %}